*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

header :hover{
    border-bottom: solid 1px orange;
}
header{
    background-color: black;
    color: antiquewhite;
}

body{
    background-color: gray;

}
.titulo1{

    padding: 20px 20px;
    margin-bottom: 1rem;
    color: orange;
    text-align: center;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;

}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.flex-index{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    gap: 5rem;

}

footer{
    color: whitesmoke;
    background-color: black;}




.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style-type: none;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex

}
li{
    padding: 0 15px;
    margin-bottom: 15px;

}
a{font-size: 14px;
    font-weight: 500;
    color: antiquewhite;

}

.img_footer{
    width: 90px;
}
.p_footer{
    text-align: center;
}
/* ------3x3 basket------------*/ 
.h2_videos3x3{

    font-weight: 70%;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 30px;


}
.videos3x3{
    display: flex;
    justify-content: space-around;
    width: 80%;

    border: 2px solid   whitesmoke;
    padding: 30px;
    margin: 0;
}
.audio1{
    align-items: center;
}

/*---------------NUESTROS CLIENTES---------------*/
.flex_clientes{
    display: flex;
    flex-wrap: wrap;
}

.titulo_clientes{

    padding: 20px;
    margin: 20px;
    background-color: black;
    text-align: center;
    text-decoration: solid;
    color: antiquewhite;
}
.texto_clientes{

    padding: 20px;
    margin: 20px;

    text-align: center;
    text-decoration: solid;
    color: antiquewhite;  
}






/*--------PRODUCTOS-------------*/
/*.productos_1{
    background-color: gray;
    color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);


    gap: 20px;


}*/
.productos_1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    margin-top: 2rem;
}

/*-----------CONTACTANOS------------------*/

.contenido_contactanos{
    background-color: black;
    color: antiquewhite;
    display: flex;
    padding: 20px 20px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid whitesmoke;
    margin-bottom: 2rem;
    margin-top: 2rem;

}
.titulo_formulario{
    margin-bottom: 20px;
    color: red;
}
.formulario{
    background-color: black;
    color: antiquewhite;
    display: flex;
    padding: 20px 20px;
    width: 100%;
    border: 2px solid whitesmoke;
    align-items: center;
    margin-bottom: 2rem;


}

.formulario_{
    background-color: black;
    color: antiquewhite;
    display: flex;
    margin-left: 130px;
    padding: 20px 20px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    border: 2px solid whitesmoke;
    text-align: end;
}

@media screen and (max-width: 480px) {
    .grid-container1{   
        grid-template-columns:repeat(1, 100%);
        grid-template-rows: repeat(2, auto);
        margin: 20px
        padding 20px;}
    .img_index{
        width: 100%;
    }
    }
    .grid_clientes{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2,auto);
    }
    .grid_3x3{
        background-color: black;
        color: antiquewhite;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    
    }
    
.formulario{
        flex-direction: column;
        align-items: flex-start;
    }
.formulario_{
        background-color: black;
        color: antiquewhite;
        display: flex;
        margin: 5px;
        padding: 5px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        border: 1px solid whitesmoke;
        text-align: end;
}




