@import 'variables';



/*ACA SE ENCUENTRAN LAS COSAS QUE SON COMUNES A TODAS LOS HTML: 
COMO EL NAV Y EL FOOTER
BODY Y TITULOS*/





header {
    background-color: black;
    nav {
        width: 100%;
        ul{
            li{
                :hover{
                    border-bottom: solid 1px $colorhover;
                }
                }
            }
        }
    }




footer {
    color: $colorh1;
    background-color: black;
    width: 100%;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        color: $colorh1;
    }

    ul {
        list-style-type: none;
        margin-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center;
        display: flex
    }

    li {
        list-style-type: none;
        padding: 0 2rem;
        margin-bottom: 2rem;
    }

    a {
        font-size: 2rem;
        color: $colorh1;
        }
    }




.img_footer {
    width: 1rem;
    :hover{
        border-radius: 1px orange;
        
    }
}

.p_footer {
    text-align: center;
}

body {
    background-image: url(https://media.istockphoto.com/id/477516876/es/foto/fondo-negro.jpg?s=170667a&w=0&k=20&c=68YN6_1oVpkaXx_ySdhhgbPT6j1R9YI6xyo6KFeCBgA=);
}

h1 {
    text-align: center;
    display: flex;
    justify-content:space-around;
    font-size: 15ex;
    width: 100%;
    margin-bottom: 1rem;
    color: $colorh1;
    text-align: center;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count:infinite;
    height: auto;
    font-weight: 100;


}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 1rem;
    font-size: 10ex;
    color: $colorh1;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;

}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 2;
    }


}
p{
    color: $colorh1;
}
