


.flex-index{
    display: flex;
    flex-wrap: wrap;
    background-color: $bodycolor;
    justify-content: space-around;
    gap: 5rem;
    margin-bottom: 5rem;

}
.section-index{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    min-height: auto;
    height: 20rem;
    align-items: center;
    margin-top: 4rem;

}

.titulo1{
    font-weight: 100;
    font-size: 20ex;
    margin-bottom: 5rem;
}