@media screen and (max-width: 480px) {
.formulario{
        flex-direction: column;
        align-items: flex-start;
    }
.formulario_{
        background-color: black;
        color: antiquewhite;
        display: flex;
        margin: 5px;
        padding: 5px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items:center;
        border: 1px solid whitesmoke;
        text-align: end;
}
}