* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  width: 100%;
}
header nav ul li :hover {
  border-bottom: solid 1px rgb(211, 102, 0);
}

footer {
  color: whitesmoke;
  background-color: black;
  width: 100%;
  margin-top: 1rem;
}
footer div {
  font-size: 2rem;
  color: antiquewhite;
}
footer ul {
  list-style-type: none;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
footer li {
  list-style-type: none;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
footer a {
  font-size: 2rem;
  color: antiquewhite;
}

.img_footer {
  width: 90px;
}
.img_footer :hover {
  border-radius: 1px orange;
}

.p_footer {
  text-align: center;
}

body {
  background-color: #faf0e4;
}

h1 {
  display: flex;
  justify-content: space-around;
  font-size: 3em;
  width: 100%;
  margin-bottom: 1rem;
  color: rgb(234, 173, 5);
  text-align: center;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 10rem;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 1rem;
  color: rgb(90, 72, 38);
  text-align: center;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-index {
  display: flex;
  flex-wrap: wrap;
  background-color: #faf0e4;
  justify-content: space-around;
  gap: 5rem;
  margin-bottom: 5rem;
}

.section-index {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: auto;
  height: 20rem;
  align-items: center;
  margin-top: 4rem;
}

.titulo1 {
  font-weight: 100;
  font-size: 20ex;
  margin-bottom: 5rem;
}

.contenido_contactanos {
  background-color: rgba(62, 56, 56, 0.212);
  color: black;
  display: flex;
  padding: 20px 20px;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 2rem black;
  margin-top: 2rem;
  text-align: end;
}

.titulo_formulario {
  margin-bottom: 20px;
  color: red;
  width: 100%;
}

.formulario {
  background-color: rgba(62, 56, 56, 0.212);
  color: black;
  display: flex;
  padding: 20px 20px;
  width: 100%;
  border: 2px solid black;
  align-items: center;
  margin-bottom: 2rem;
  text-align: end;
}

fieldset {
  border: solid 2px black;
}

.formulario_ {
  background-color: rgba(62, 56, 56, 0.212);
  color: black;
  display: flex;
  padding: 2rem;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  border: 2px solid black;
  text-align: justify;
}

.h2_videos3x3 {
  font-weight: 70%;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 30px;
}

main div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

p {
  width: 100%;
  text-align: center;
}

div .videos3x3 {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 2px solid whitesmoke;
  padding: 30px;
  margin: 0;
}

.audio1 {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.titulo3x3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 1rem;
  margin-top: 2rem;
  justify-content: space-around;
}
.productos div img:hover {
  transition: 2s;
  transform: scale(120%);
}

.flex_clientes {
  display: flex;
  flex-wrap: wrap;
}

.titulo_clientes {
  padding: 20px;
  width: 100%;
  text-align: center;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.texto-clientes p {
  margin-bottom: 2rem;
}

.calesita {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .formulario {
    flex-direction: column;
    align-items: flex-start;
  }
  .formulario_ {
    background-color: black;
    color: antiquewhite;
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid whitesmoke;
    text-align: end;
  }
  h1 {
    margin-bottom: 20px;
    color: red;
    width: 100%;
    justify-content: space-around;
  }
  .titulo1 {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 5rem;
  }
}/*# sourceMappingURL=main.css.map */