.h2_videos3x3{

    font-weight: 70%;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 30px;


}
main{
    div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }
}
p{
    width: 100%;
    text-align: center;
}
div{
    .videos3x3{
    display: flex;
    justify-content:center;
    width: 50%;

    border: 2px solid   whitesmoke;
    padding: 30px;
    margin: 0;
            }
}
.audio1{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
}
.titulo3x3{
    margin-top:  3rem;
    margin-bottom: 3rem;
}