.flex_clientes{
    display: flex;
    flex-wrap: wrap;
}

.titulo_clientes{

    padding: 20px;
    width: 100%;

    text-align: center;
    text-decoration: solid;

}
.texto-clientes{
    p{
    margin-bottom: 2rem;
}
}

.calesita{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}





