.flex_clientes{
    display: flex;
    flex-wrap: wrap;
}

.titulo_clientes{

    padding: 20px;
    margin: 20px;
    background-color: black;
    text-align: center;
    text-decoration: solid;
    color: antiquewhite;
}
.texto_clientes{

    padding: 20px;
    margin: 20px;

    text-align: center;
    text-decoration: solid;
    color: antiquewhite;  
}




