.flex_clientes{
    display: flex;
    flex-wrap: wrap;
}

.titulo_clientes{

    padding: 20px;
    margin: 20px;
    text-align: center;
    text-decoration: solid;

}
.texto_clientes{

    padding: 20px;
    margin: 20px;

    text-align: center;
    text-decoration: solid;
    color: black
}




