
.section-index{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    min-height: auto;

    align-items: center;


}
.flex-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin: 5rem;
    div{
        border-color: $colorh1;
        
}
}
section{
    p{
        color: white;
    }
}
}


